.description {
    display: flex;
    @include adaptive-value(padding-top, 100, 20, 1);
    @media (max-width: 567px) {
        flex-direction: column;
        gap: 25px;
    }
    &__text {
        h4 {
            font-weight: 600;
            @include adaptive-value(font-size, 22, 16, 1);
            @include adaptive-value(line-height, 33, 26, 1);
        }
        p {
            max-width: 375px;
            font-weight: 500;
            @include adaptive-value(font-size, 16, 12, 1);
            @include adaptive-value(line-height, 24, 20, 1);
        }
    }
}
.character {
    @include adaptive-value(padding-right, 203, 60, 1);
    h4 {
        font-weight: 600;
        @include adaptive-value(font-size, 22, 16, 1);
        @include adaptive-value(line-height, 33, 26, 1);
    }
    &__text {
        @include adaptive-value(padding-top, 30, 12, 1);
        h5 {
            font-weight: 600;
            @include adaptive-value(font-size, 16, 12, 1);
            @include adaptive-value(line-height, 24, 20, 1);
            color: #454545;
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #717171;
        }
    }
    button {
        font-weight: 400;
        @include adaptive-value(font-size, 14, 12, 1);
        @include adaptive-value(line-height, 21, 16, 1);
        cursor: pointer;
        text-decoration-line: underline;
        background: #f8f8f8;
    }
}
